<?xml version='1.0' encoding='utf-8'?>
<widget id="com.starcatcher.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Лови Звезду</name>
    <description>Аркада - лови звёзды и уворачивайся от бомб</description>
    <author email="you@example.com" href="https://example.com">Ваше Имя</author>
    <content src="index.html" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xff1a1a2e" />
    
    <platform name="android">
    <icon density="ldpi" src="res/icon/android/icon.png" />
    <icon density="mdpi" src="res/icon/android/icon.png" />
    <icon density="hdpi" src="res/icon/android/icon.png" />
    <icon density="xhdpi" src="res/icon/android/icon.png" />
    <icon density="xxhdpi" src="res/icon/android/icon.png" />
    <icon density="xxxhdpi" src="res/icon/android/icon.png" />
</platform>
</widget>